<main class="main">
  <div class="inner">
    <div class="place_wrapper">
      <p class="place_hedding">
        <%= @place.title %>
      </p>
      <%= link_to "by #{@place.user.name}", "#", class: :place_user %>
      <% if current_user == @place.user%>
        <div class="place_manage">
          <%= link_to "編集する", edit_place_path, class: :place_btn %>
          <%= link_to "削除する", place_path, method: :delete, class: :place_btn %>
        </div>
      <% end %>
      <div class="place_image">
        <%= image_tag @place.image %>
      </div>
      <div class="place_body">
        <div class="place_detail">
          <p class="detail_content">詳細</p>
          <p class="detail_message">
            <%= @place.content %>
            <%= @place.address %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>


<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();

    var contentString = '住所：<%= @place.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<div id="map"></div>